/*$Id$*/

.editor-container {
  margin: 1px 0px;
}
.editor-text-button {
  width: 22px;
  height: 22px;
  font-size: 11px;
  letter-spacing: -1px;
  padding: 0px;
  font-weight: bold;
  background-color: #fff;
  color: #444;
  cursor: pointer;
  text-align: center;
}
.editor-image-button {}
.editor-text-button, .editor-image-button {
  margin: 1px;
  border: 1px solid #ccc;
  vertical-align: bottom;
}
.editor-text-button:hover, .editor-image-button:hover {
  border-color: #ffcc66;
}
.editor-container .stay-clicked {
  border-color: #f00;
}

/*#editor-dialog tr.(head|body|odd|even) td.(title|close|content)*/
#editor-dialog {
  z-index: 100;
  position: absolute;
  border: 1px solid #000;
  font: 12px verdana;
}
#editor-dialog tr.head {
  font-weight: bold;
  cursor: move;
}
#editor-dialog td.title {
  font-size: 1.1em;
  padding-right: 10px;
}
#editor-dialog td.close {
  text-align: right;
  padding-right: 4px;
}
#editor-dialog td.close a {
  cursor: pointer;
  font-size: 1.3em;
}