/* Popup styles */
.bue-popup {
  box-shadow: 0 0 1em #999;
  border-radius: 0.5em;
}
.bue-popup-head {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}
.bue-popup-close {
  border-top-left-radius: 0.8em;
  border-bottom-right-radius: 0.8em;
}
.bue-popup-body {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
#bue-quick-pop .bue-popup-body {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}